[build.environment]
DART_SASS_VERSION = "1.97.3"
GO_VERSION = "1.26.0"
HUGO_VERSION = "0.156.0"
NODE_VERSION = "24.13.1"
TZ = "America/Los_Angeles"

[build]
publish = "public"
command = """\
  git config core.quotepath false && \
  hugo build --gc --minify --baseURL "${URL}"
  """